
.text-animate-fast-hover {
    display: inline-block;
    cursor: pointer;
    animation : rubberband 800ms alternate ease-out;  
}
.text-animate-fast-hover:hover {
    color: #73f9d9;
    text-shadow: 2px 2px #73f9d9;
    transition: all .2s ease-out;
    animation-name: squeeze;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}



  @keyframes rubberband {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  